* {
  vertical-align: baseline;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: Bold;
  font-size: 12pt;
  font-weight: initial;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  line-height: initial;
}
